body{
    background-color:aqua;
    width: 80%;
    margin: auto;
}
h1{
    color:yellow;
    text-align: center;
    border:2px solid yellow;
}
.parastyles{
    font-family:cursive;
    color: acqua;
}